html {
	font-size: 16px;
}

@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	align-items: center;
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.container {
	max-width: 1200px;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

header {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	width: 100%;
}

header h1 {
	border-bottom: 3px solid #77a466;
	margin: 0;
	padding: 38px 20px 20px 20px; 
	width: 100%;

}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	width: 100%;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	font-weight: 700;
	font-size: .875em;
	list-style: none;
	padding: 10px 0;
	text-transform: uppercase;
}

header nav ul li a {
	color:#77a466;
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 1em;
}
p {
	font-size: 1em;
	line-height: 21px;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.main-image img {
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
	width: 100%;
}

.main-title h3 {
	color: #77a466;
	padding: 5px 0;
	text-align: left;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.562;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	width: 100%;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.312;
}

.address {
	font-size: 1em;
	line-height: 1.5;
}

/*The widths are in a percentage!*/
footer {
	align-items: center;
	border-top: 3px solid #eee;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	width: 100%;
}
footer span {
	color: #77a466;
	font-size: .875em;
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
}

@media only screen and (min-width: 768px) {
	/*****TABLET STYLES*****/

	.bottom-section {
		align-items: flex-start;
		border-top: 1px solid #eee;
		justify-content: center;
	}
	

	.section-one, .section-two, .section-three {
		border-top: none;
		flex-basis: 30%
	}
	
	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0 20px;
	}

	.section-three {
		padding: 0 20px;
	}
@media only screen and (min-width: 1200px) {
	/****Desktop Styles****/

	header {
		justify-content: space-between;
	}

	header h1 {
		border-bottom: none;
		padding: none;
		text-align: left;
		width: 30%;
	}

	header nav {
		width: 40%;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	}
}